/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
	display: grid;
	grid-template-rows: 10% 80% 10%;
	grid-template-columns: 10% 80% 10%;
	margin: 0 auto;
	width: 80%;

}

h1.welcome {
	grid-column: 2;
	grid-row: 2;
	margin: 0;
  	text-align: center;
	font-size: 200px;
  	/*border: black dotted 1px;*/
}

p.welcome {
	margin: 0;
	align-self: end;
	grid-column: 2;
	grid-row: 1;
	font-size: 36px;
	/*border: black dotted 1px;*/
}